<launch>
    <!-- Initialize -->
    <include file="$(find control)/launch/parts/pre.xml" />

    <!-- Load gio input configuration -->
    <rosparam
        file="$(find control)/config/gio_control.yaml"
        command="load"
    />

    <node pkg="control" type="gio_tf" name="gio_tf" output="screen" />
</launch>
