<launch>
    <!-- Initialize -->
    <include file="$(find volksbot)/launch/parts/pre.xml" />

    <!-- Load gio input configuration -->
    <rosparam
        file="$(find volksbot)/config/gio_control.yaml"
        command="load"
    />

    <node pkg="volksbot" type="path_recorder" name="path_recorder" output="screen" />
</launch>
