<launch>
    <!-- Initialize -->
    <include file="$(find volksbot)/launch/parts/pre.xml" />

    <!-- Load calibration components -->
    <include file="$(find volksbot)/launch/parts/laser-calibration.xml" />

    <!-- Start motor controller and odometry -->
    <node pkg="volksbot" type="volksbot" name="volksbot" output="screen" />
    <node pkg="volksbot" type="odometry" name="odometry" args="1" />

    <!-- Laser Scanner Node -->
    <node pkg="lms100" type="sicksensor" name="sick_front" />
</launch>
